@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;
}

nav{
    font-family: 'Lobster', cursive;
}
nav ul{
    position: sticky;
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 15px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.logo img{
    width: 75px;
    height: 50px;
}

.container{
    min-height: 70vh;
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Boogaloo', cursive;
    width: 75%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px;
    background-image: url("bg1.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}

.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons{
    cursor: pointer;
    margin-top: 15px;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 50px;
    width: 130%;
    display: flex;
    background-color: white;
    color: black;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.songItem img{
    width: 38px;
    height: 38px;
    margin: 0 13px;
    border-radius: 30px;
}

.timeStamp{
    margin: 0 20px;
}
.timeStamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    top: 25px;
    left: 10vw;
    font-weight: bolder;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.8 ease-in;
}